# Environment files
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual env
venv/
.env.local

# Node (frontend)
node_modules/
dist/
build/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
